<form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="sellerForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="button" (click)="revert()" [disabled]="sellerForm.pristine" class="btn btn-danger">Revert</button>
  </div>
  <!-- Seller Detail Controls -->
  <div class="form-group">
    <label class="center-block">Common Name:
      <input class="form-control" formControlName="commonName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Company Name:
      <input class="form-control" formControlName="companyName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Tax Code:
      <input class="form-control" formControlName="taxCode">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Address:
      <input class="form-control" formControlName="address">
    </label>
  </div>
</form>

<p>sellerForm value: {{ sellerForm.value | json}}</p>

<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->